.item-mask__plus-button {
  width: 40px;
  height: 40px;
  background-color: #3D3C3C;
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding: 0;
  background-image: url("../../../images/plus.svg");
  background-size: 18px 19px;
  background-position: center;
  background-repeat: no-repeat;
}
