.right-content__refresh-button {
  width: 293px;
  height: 54px;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid #434242;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.38;
  color: #434242;
}

.right-content__refresh-button:hover {
  background: #c0c0c0;
}

.right-content__refresh-button:active {
  transform: scale(0.98);
}

